/* You can add global styles to this file, and also import other style files */
@backgroundColor: #000000;
@primaryForegroundColor: lighten(@backgroundColor, 65%);
@secondaryForegroundColor: orange;

*
{
    font: 1rem 'Fira Sans', sans-serif;
    margin: 0;
    background-color: lighten(@backgroundColor, 10%);
    color: @primaryForegroundColor;
}

a, a:active
{
    text-decoration: none;
    outline: none;
}

a:hover, sup:hover
{
    color: @secondaryForegroundColor;
}